<div id="loader">
      <div id="loader-image">
        <img
          src="https://home.iitd.ac.in/images/preloaders/1.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/2.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/3.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/4.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/5.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/6.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/7.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/8.png"
          class="loader-img"
          alt="Loader Image"
        />
        <img
          src="https://home.iitd.ac.in/images/preloaders/9.png"
          class="loader-img"
          alt="Loader Image"
        />
      </div>
    </div>