<div id="header">
  <div id="header-top" style="color:white">
    <div id="header-top-part1">
      <div class="header-top-part1-content">
        <i class="ri-user-fill"></i>
        <h1>Jobs</h1>
      </div>
      <div class="header-top-part1-content">
        <i class="ri-calendar-todo-fill"></i>
        <h1>Calendar</h1>
      </div>
      <div class="header-top-part1-content">
        <i class="ri-building-line"></i>
        <h1>Tenders</h1>
      </div>
      <div class="header-top-part1-content">
        <i class="ri-bank-card-2-line"></i>
        <h1>Payment</h1>
      </div>
      <div class="header-top-part1-content">
        <i class="ri-empathize-fill"></i>
        <h1>Recruiters</h1>
      </div>
      <!-- <div class="header-top-part1-content">
        <i class="ri-hand"></i>
        <h1>IGES</h1>
      </div> -->
      <!-- <div class="header-top-part1-content">
        <i class="ri-megaphone-line"></i>
        <h1>ICC</h1>
      </div>
      <div class="header-top-part1-content">
        <i class="ri-gift-fill"></i>
        <h1>GIVE</h1>
      </div> -->
    </div>
    <div id="header-top-part2">
      <i class="ri-twitter-line"></i>
      <i class="ri-facebook-circle-line"></i>
      <i class="ri-mail-line"></i>
    </div>
    <div id="header-top-part3">
      <div class="header-top-part3-content">
        <h1>हिन्दी</h1>
      </div>
    </div>
  </div>
  <div id="header-middle">
    <div id="header-middle-part1">
      <div id="logo">
        <img src="https://iiitn.ac.in/images/main-logo-90x90.png" alt="Logo" />
      </div>
      <div id="Institute-Name">
        <h1>Indian Institute of Information Technology, Nagpur</h1>
        <h5>An Institution of National Importance By An Act of Parliament</h5>
      </div>
    </div>
    <div id="header-middle-part2">
      <div id="header-middle-part2-content">
        <a
          href="https://www.google.com/maps/place/Indian+Institute+of+Information+Technology,+Nagpur+(IIITN)/@20.9499291,79.0237999,17z/"
        >
          <h1>IIIT Nagpur</h1>
          <h1>Survey No. 140 - 141/1, Off, Adilabad - Nagpur Rd</h1>
          <h1>Waranga, Maharashtra 441108</h1>
        </a>
      </div>
      <div id="header-middle-part2-logo">
        <img src="./images/location-1132647_1280.png" alt="Location Icon" />
      </div>
    </div>
  </div>
  <nav id="header-bottom">
    <div class="navbar">
      <button class="menu-home"><i class="ri-home-3-fill"></i></button>
      <button class="menu" data-dropdown="aboutUs">About Us</button>
      <button class="menu" data-dropdown="Governance">Governance</button>
      <button class="menu" data-dropdown="departments">Departments</button>
      <button class="menu" data-dropdown="admissions">Admissions</button>
      <button class="menu" data-dropdown="placements">Placements</button>
      <button class="menu" data-dropdown="student">Student</button>
      <button class="menu" data-dropdown="nirf">Nirf</button>
      <button class="menu" data-dropdown="others">Others</button>
      


      <!-- Dropdowns -->

      <!-- about us -->
      <div class="dropdown" id="aboutUs">
        <div class="dropdown-container">
          <div class="column">
            <!-- about us -->
            <ul>
              <li>
                <a
                  href="/home/about-us/act"
                  >Act (PPP)
                </a>
              </li>
              <li>
                <a href=""
                  >Statute</a
                >
              </li>
              <li>
                <a href="/home/about-us/insti-profile"
                  >Institute Profile</a
                >
              </li>
              <li>
                <a href="https://iiitn.ac.in/page/research-Basic-science/317/"
                  >Facilities</a
                >
              </li>
              <li>
                <a href="https://iiitn.ac.in/page/faculty-basic-science/183/"
                  >Annual Report</a
                >
              </li>
              <li>
                <a href="https://iiitn.ac.in/page/staff/193/">MoU</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Governance -->
      <div class="dropdown" id="Governance">
        <div class="dropdown-container">
          <div class="column">
            <h3>Committee</h3>
            <ul>
              <li>Board of Governors</li>
              <li>Finance Committee</li>
              <li>Senate</li>
              <li>Building Works Committee</li>
            </ul>
          </div>
          <div class="column">
            <h3>Administration</h3>
            <ul>
              <li>Chairman</li>
              <li>Director</li>
              <li>Registrar</li>
              <li>Staff</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Departments -->
      <div class="dropdown" id="departments">
        <div class="dropdown-container">
          <div class="column">
            <h3>Basic Sciences</h3>
            <ul>
              <li>About Department</li>
              <li>BoS</li>
              <li>Achievements</li>
              <li>Research</li>
              <li>Faculty</li>
              <li>Staff</li>
              <li>Projects</li>
              <li>Laboratory</li>
              <li>Events</li>
            </ul>
          </div>
          <div class="column">
            <h3>Computer Science and Engineering</h3>
            <ul>
              <li>About Department</li>
              <li>BoS</li>
              <li>Achievements</li>
              <li>Research</li>
              <li>Faculty</li>
              <li>Staff</li>
              <li>Projects</li>
              <li>Laboratory</li>
              <li>Events</li>
            </ul>
          </div>
          <div class="column">
            <h3>Electronics and Communication Engineering</h3>
            <ul>
              <li>About Department</li>
              <li>BoS</li>
              <li>Achievements</li>
              <li>Research</li>
              <li>Faculty</li>
              <li>Staff</li>
              <li>Projects</li>
              <li>Laboratory</li>
              <li>Events</li>
            </ul>
          </div>

          <div class="column">
            <h3>Doctoral Programme</h3>
            <ul>
              <li>Overview of PhD Program</li>
              <li>Doctoral Programme</li>
              <li>Features</li>
              <li>Research Areas</li>
              <li>Operational Details</li>
              <li>Important Perfomas</li>
              <li>Checklists</li>
              <li>Contact Us</li>
            </ul>
          </div>

          <div class="column">
            <h3>Programs</h3>
            <ul>
              <li>B.Tech</li>
              <li>PG Diploma</li>
              <li>PhD</li>
              <li>M.Tech</li>
              <li>Curriculum</li>
              <li>Reports</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Admissions -->
      <div class="dropdown" id="admissions">
        <div class="dropdown-container">
          <div class="column">
            <!-- <h3>Admissions</h3> -->
            <ul>
              <li>Undergraduate B.Tech</li>
              <li>Postgraduate</li>
              <li>UG Academic Rule Book</li>
              <li>PG Academic Rule Book</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- alumni -->
      <div class="dropdown" id="alumni">
        <div class="dropdown-container">
          <div class="column">
            <!-- <h3>Programs</h3> -->
            <ul>
              <li>Member Login</li>
              <li>Members</li>
              <li>About Us</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- placements -->
      <div class="dropdown" id="placements">
        <div class="dropdown-container">
          <div class="column">
            <!-- <h3>Programs</h3> -->
            <ul>
              <li>About Us</li>
              <li>Why Recruit from IIITN?</li>
              <li>Placement Statistics</li>
              <li>For Companies</li>
              <li>For Students</li>
              <li>Contact T&P</li>
              <li>Internships</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- student -->
      <div class="dropdown" id="student">
        <div class="dropdown-container">
          <div class="column">
            <!-- <h3>Programs</h3> -->
            <ul>
              <li>Activities</li>
              <li>Achievements</li>
              <li>Clinical Counselling</li>
              <li>Scholarships</li>
              <li>Hostle</li>
              <li>Student Mess</li>
              <li>Download</li>
              <li>Convocation 2023</li>
              <li>Fees</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- nirf -->
      <div class="dropdown" id="nirf">
        <div class="dropdown-container">
          <div class="column">
            <!-- <h3>Programs</h3> -->
            <ul>
              <li>NIRF 2025</li>
              <li>NIRF 2024</li>
              <li>NIRF 2023</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- others -->
      <div class="dropdown" id="others">
        <div class="dropdown-container">
          <div class="column">
            <!-- <h3>Programs</h3> -->
            <ul>
              <li>Consultancy</li>
              <li>Institute Innovation Council</li>
              <li>Official Documents</li>
              <li>Electoral Literacy Club</li>
              <li>Guest House</li>
              <li>Press Release</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

   
  </nav>
</div>
