<div id="direction-page">
  <section
    id="direction-page-director-message"
    class="direction-page-container"
  >
    <div class="direction-page-message-box">
      <div class="direction-page-image-container">
        <img
          src="https://iiitn.ac.in/images/director.jpg"
          alt="Director's Image"
        />
      </div>
      <div class="direction-page-content">
        <div class="direction-page-title-group">
          <h1>
            Director's <span class="direction-page-highlight">Message</span>
          </h1>
          <!-- <span class="direction-page-material-icons">history_edu</span> -->
        </div>
        <h2 class="direction-page-director-name">Dr. Prem Lal Patel</h2>
        <p class="direction-page-message" >
          A very warm greeting from Indian Institute of Information Technology,
          Nagpur. Professor Prem Lal Patel, Director, VNIT, Nagpur took over the
          additional charge as Director of IIIT, Nagpur on 1st October, 2024.
          </p>
          <p class="direction-page-message"> He
          is Professor (HAG) of Hydraulics and Water Resources in Department of
          Civil Engineering, Sardar Vallabhbhai National Institute of Technology
          (SVNIT), Surat. He served as Deputy Director of the Institute (SVNIT)
          during Sept 17, 2019 to Sept. 16, 2022.  He did his Bachelors in Civil
          Engineering from Government Engineering College, Rewa, Madhya Pradesh,
          India and then, pursued his Master and Doctoral Degrees in Civil
          Engineering from Indian Institute of Technology Roorkee, India (the
          then University of Roorkee).
        </p>
        <div class="direction-page-read-more">
          <a href="#" target="_blank"
            >Read All →</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
