<!-- <div id="page6">
        <section id="stats" class="stats-section">
          <div class="counter-container">
            <div class="counter-innercontainer">
              <div class="odometer" id="noOfStudents" data-value="10000">0</div>
              <span>+</span>
              <div class="double-line"></div>
              <h4>Students</h4>
            </div>
            <div class="counter-innercontainer">
              <div class="odometer" id="noOfFaculty" data-value="600">0</div>
              <span>+</span>
              <div class="double-line"></div>
              <h4>Faculty</h4>
            </div>
            <div class="counter-innercontainer">
              <div class="odometer" id="noOfStaff" data-value="700">0</div>
              <span>+</span>
              <div class="double-line"></div>
              <h4>Staff</h4>
            </div>
          </div>
        </section>
      </div> -->