<div id="student-counter">
    <div class="student-counter-statistics-section">
        <div class="student-counter-background-image"></div>

        <div class="student-counter-container">
            <div class="student-counter-stats-grid">
                <div class="student-counter-counter-box">
                    <div class="student-counter-counter-number" data-target="5000">0</div>
                    <div class="student-counter-counter-label">Students</div>
                </div>
                <div class="student-counter-counter-box">
                    <div class="student-counter-counter-number" data-target="500">0</div>
                    <div class="student-counter-counter-label">Faculty & Staff</div>
                </div>
                <div class="student-counter-counter-box">
                    <div class="student-counter-counter-number" data-target="18">0</div>
                    <div class="student-counter-counter-label">Departments</div>
                </div>
                <div class="student-counter-counter-box">
                    <div class="student-counter-counter-number" data-target="20">0</div>
                    <div class="student-counter-counter-label">Clubs & Cells</div>
                </div>
            </div>

            <div class="student-counter-heading">
                <span>#</span>NUMBERS
                <div><span>THAT MAKES</span> IIITN</div>
            </div>
        </div>
    </div>

</div>