<div id="page1">
        <div id="latest-news"></div>
        <div id="tiles" class="grid-container">
          <div id="tiles" class="grid-container">
            <div class="tile">
              <a href="#news">
                <span class="icon">
                  <img src="icons/news.svg" alt="News" />
                </span>
                <p>News</p>
              </a>
            </div>
            <div class="tile">
              <a href="#admission">
                <span class="icon">
                  <img src="icons/programs.svg" alt="Programs" />
                </span>
                <p>Programs</p>
              </a>
            </div>
            <div class="tile">
              <a href="#">
                <span class="icon">
                  <img src="icons/placements.svg" alt="Placements" />
                </span>
                <p>Placements</p>
              </a>
            </div>
            <div class="tile">
              <a href="#research">
                <span class="icon">
                  <img src="icons/achievements.svg" alt="Achievements" />
                </span>
                <p>Achievements</p>
              </a>
            </div>
            <div class="tile">
              <a href="#campus-life">
                <span class="icon">
                  <img src="icons/campus-life.svg" alt="Campus Life" />
                </span>
                <p>Campus Life</p>
              </a>
            </div>
          </div>
        </div>
      </div>